version: '3'

services:

  server:
    container_name: REST-api
    build: .
    volumes:
      - .:/usr/src/app
    ports:
      - 80:80
    expose:
      - 80

  frontend:
    container_name: Frontend-arquitectura
    build: ./frontend
    volumes:
      - .:/user/src/app
    ports:
      - 3000:3000
    expose:
      - 3000
